{% extends "main.html" %}

{% block header %}
    <h1>Cabeza</h1>
{% end %}

{% block body %}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Hash</th>
                    <th>Date</th>
                    <th>Original</th>
                    <th>0</th>
                    <th>1</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image[0] }}</td>
                        <td>{{ image[1] }}</td>
                        <td><a href="/api/v1/file/get/{{ image[0] }}.jpg">Image</a></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
{% end %}

{% block footer %}
    <p>Pie</p>
{% end %}