{% extends "main.html" %}

{% block header %}
{% end %}

{% block body %}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Hash</th>
                    <th>Date</th>
                    <th>Original</th>
                    <th>01</th>
                    <th>02</th>
                    <th>03</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image["_id"] }}</td>
                        <td>{{ str(image["datetime"]) }}</td>
                        <td><a href="/api/v1/file/get/{{ image["_id"] }}.jpg">Image</a></td>
                        <td><a href="/api/v1/file/process/01/{{ image["_id"] }}.png">01</a></td>
                        <td><a href="/api/v1/file/process/02/{{ image["_id"] }}.png">02</a></td>
                        <td><a href="/api/v1/file/process/03/{{ image["_id"] }}.png">03</a></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
{% end %}

{% block footer %}
    <ul class="pure-paginator">
        <li><a class="pure-button" href="/list/1">1</a></li>
        <li><a class="pure-button" href="/list/2">2</a></li>
        <li><a class="pure-button" href="/list/3">3</a></li>
        <li><a class="pure-button" href="/list/4">4</a></li>
        <li><a class="pure-button" href="/list/5">5</a></li>
    </ul>
{% end %}