<html>
    <head>
        <title>Probando</title>
        <link rel="stylesheet" href="/static/css/tables.css">
        <link rel="stylesheet" href="/static/css/menus.css">
        <link rel="stylesheet" href="/static/css/buttons.css">
    </head>
    <body>
        <header>
            {% block header %}{% end %}
        </header>

        <nav>
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">List files</a></li>
                </ul>
            </div>
        </nav>

        <content>
            {% block body %}{% end %}
        </content>

        <footer>
            {% block footer %}{% end %}
        </footer>
    </body>
</html>